name: plex
services:
    plex:
        devices:
            - /dev/dri:/dev/dri
            - /dev/dvb:/dev/dvb
        environment:
            PGID: $PGID
            PUID: $PUID
            VERSION: docker
        image: linuxserver/plex:latest
        mem_reservation: "268435456"
        network_mode: host
        restart: unless-stopped
        volumes:
            - type: bind
              source: /DATA/AppData/$AppID/config
              target: /config
            - type: bind
              source: /DATA/Media
              target: /Media
        x-casaos:
            author: CasaOS Team
            category: Media
            container:
                envs:
                    - configurable: "no"
                      container: PUID
                      description:
                        en_US: Run Plex as specified uid.
                    - configurable: "no"
                      container: PGID
                      description:
                        en_US: Run Plex as specified gid.
                    - configurable: "no"
                      container: VERSION
                      description:
                        en_US: Let Docker handle the Plex Version
                index: /web/index.html
                port_map: "32400"
                shell: bash
                volumes:
                    - configurable: "no"
                      container: /config
                      description:
                        en_US: Plex config directory.
                    - configurable: advanced
                      container: /Media
                      description:
                        en_US: Plex Media directory.
            description:
                en_US: Plex organizes video, music and photos from personal media libraries and streams them to smart TVs, streaming boxes and mobile devices. This container is packaged as a standalone Plex Media Server. has always been a top priority. Straightforward design and bulk actions mean getting things done faster.
            developer: Plex
            icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Plex/icon.png
            screenshot_link:
                - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Plex/screenshot-1.png
                - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Plex/screenshot-2.png
                - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Plex/screenshot-3.png
            tagline:
                en_US: The home for all your entertainment.
            thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Plex/thumbnail.png
            tips: {}
            title:
                en_US: Plex
x-casaos:
    architectures:
        - amd64
        - arm
        - arm64
    main_app: plex
    version: latest
