name: jackett
services:
    jackett:
        environment:
            AUTO_UPDATE: "true"
            PGID: "1000"
            PUID: "1000"
            TZ: Europe/London
        image: lscr.io/linuxserver/jackett:0.20.783
        mem_reservation: "67108864"
        network_mode: bridge
        ports:
            - target: 9117
              published: "9117"
              protocol: tcp
        restart: unless-stopped
        volumes:
            - type: bind
              source: /DATA/AppData/$AppID/config
              target: /config
            - type: bind
              source: /DATA/Downloads
              target: /downloads
        x-casaos:
            author: CasaOS Team
            category: Network
            container:
                envs:
                    - configurable: "no"
                      container: PUID
                      description:
                        en_US: ""
                    - configurable: "no"
                      container: PGID
                      description:
                        en_US: ""
                    - configurable: "no"
                      container: TZ
                      description:
                        en_US: ""
                    - configurable: "no"
                      container: AUTO_UPDATE
                      description:
                        en_US: ""
                index: /
                port_map: "9117"
                ports:
                    - configurable: "no"
                      container: "9117"
                      description:
                        en_US: ""
                      protocol: tcp
                shell: sh
                volumes:
                    - configurable: "no"
                      container: /config
                      description:
                        en_US: ""
                    - configurable: "no"
                      container: /downloads
                      description:
                        en_US: ""
            description:
                en_US: it translates queries from apps (Sonarr, Radarr, SickRage, CouchPotato, Mylar3, Lidarr, DuckieTV, qBittorrent, Nefarious etc.) into tracker-site-specific http queries, parses the html or json response, and then sends results back to the requesting software. This allows for getting recent uploads (like RSS) and performing searches. Jackett is a single repository of maintained indexer scraping & translation logic - removing the burden from other apps.
            developer: Jackett
            icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Jackett/icon.png
            screenshot_link:
                - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Jackett/screenshot-1.png
                - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Jackett/screenshot-2.png
                - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Jackett/screenshot-3.png
            tagline:
                en_US: Jackett works as a proxy server
            thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Jackett/thumbnail.png
            tips: {}
            title:
                en_US: Jackett
x-casaos:
    architectures:
        - amd64
        - arm
        - arm64
    main_app: jackett
    version: 0.20.783
