name: openhab
services:
  openhab:
    environment:
      CRYPTO_POLICY: unlimited
      PGID: $PGID
      PUID: $PUID
    image: openhab/openhab:4.1.1
    deploy:
      resources:
        reservations:
          memory: 64M
    network_mode: host
    restart: unless-stopped
    volumes:
      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true
      - type: bind
        source: /etc/timezone
        target: /etc/timezone
        read_only: true
      - type: bind
        source: /DATA/AppData/$AppID/addons
        target: /openhab/addons
      - type: bind
        source: /DATA/AppData/$AppID/conf
        target: /openhab/conf
      - type: bind
        source: /DATA/AppData/$AppID/userdata
        target: /openhab/userdata
    x-casaos:
      envs:
        - container: CRYPTO_POLICY
          description:
            en_us: Crypto Policy
            zh_cn: 加密策略
        - container: PUID
          description:
            en_us: Run OpenHAB as specified uid.
            zh_cn: 以指定的uid运行OpenHAB。
        - container: PGID
          description:
            en_us: Run OpenHAB as specified gid.
            zh_cn: 以指定的gid运行OpenHAB。

      volumes:
        - container: /etc/localtime
          description:
            en_us: Ties the time of the container to the host's time, read only so the container cannot change the host's time.
            zh_cn: 将容器的时间与主机的时间绑定，只读，因此容器无法更改主机的时间。
        - container: /etc/timezone
          description:
            en_us: Ties the timezone of the container to the host's time zone, read only so the container cannot change the host's time zone.
            zh_cn: 将容器的时区与主机的时区绑定，只读，因此容器无法更改主机的时区。
        - container: /opt/openhab/addons
          description:
            en_us: Only needed if installing addons unavailable via UI or the Karaf Console.
            zh_cn: 仅在通过UI或Karaf控制台无法安装插件时需要。
        - container: /opt/openhab/conf
          description:
            en_us: |
              Location of the conf folder for openHAB configurations (Note: you must create these folders on the host before running the container).
            zh_cn: |
              openHAB配置的conf文件夹位置（注意：在运行容器之前，您必须在主机上创建这些文件夹）。
        - container: /opt/openhab/userdata
          description:
            en_us: Location for logs, cache, persistence databases, etc.
            zh_cn: 用于日志，缓存，持久性数据库等的位置。
    container_name: openhab
x-casaos:
  architectures:
    - amd64
    - arm64
    - arm
  main: openhab
  author: CasaOS Team
  category: Home Automation
  description:
    en_us: The open Home Automation Bus (openHAB, pronounced ˈəʊpənˈhæb) is an open source, technology agnostic home automation platform which runs as the center of your smart home! Its ability to integrate a multitude of other devices and systems. openHAB includes other home automation systems, (smart) devices and other technologies into a single solution. To provide a uniform user interface and a common approach to automation rules across the entire system, regardless of the number of manufacturers and sub-systems involved. Giving you the most flexible tool available to make almost any home automation wish come true; if you can think it, odds are that you can implement it with openHAB.
    zh_cn: 开放式家庭自动化总线（openHAB，发音为ˈəʊpənˈhæb）是一个开源的，技术不可知的家庭自动化平台，它作为智能家居的中心运行！ 它能够将多种其他设备和系统集成到一个单一的解决方案中。 为了在整个系统中提供统一的用户界面和通用的自动化规则方法，无论涉及的制造商和子系统的数量如何。 为您提供最灵活的工具，使几乎任何家庭自动化愿望成真; 如果您能想到，那么您可以用openHAB实现它。
    ar_sa: يعمل open Home Automation Bus (openHAB، يقرأ ˈəʊpənˈhæb) كمنصة للتحكم في الأجهزة المنزلية المفتوحة المصدر والتي لا تعتمد على أي تقنية معينة وتعمل كمركز للمنزل الذكي الخاص بك! قدرته على دمج العديد من الأجهزة والأنظمة الأخرى. يتضمن openHAB أنظمة التحكم في الأجهزة المنزلية الأخرى والأجهزة والتقنيات الأخرى في حل واحد. لتوفير واجهة مستخدم واحدة ومنهجية موحدة لقواعد التحكم عبر النظام بأكمله بغض النظر عن عدد المصنعين والأنظمة الفرعية المتضمنة. يمنحك أداة أكثر مرونة متاحة لتحقيق أي رغبة في التحكم في المنزل تقريبًا؛ إذا كنت تستطيع التفكير في ذلك، فالأرجح أنك يمكنك تنفيذها مع openHAB.
    de_de: Der offene Heimautomatisierungsbus (openHAB, ausgesprochen ˈəʊpənˈhæb) ist eine quelloffene, technologieunabhängige Heimautomatisierungsplattform, die als Mittelpunkt Ihres Smart Homes läuft! Seine Fähigkeit, eine Vielzahl anderer Geräte und Systeme zu integrieren. openHAB integriert andere Heimautomatisierungssysteme, (intelligente) Geräte und andere Technologien in eine einzige Lösung. Um eine einheitliche Benutzeroberfläche und einen gemeinsamen Ansatz für Automatisierungsregeln über das gesamte System hinweg zu bieten, unabhängig von der Anzahl der Hersteller und Teilsysteme. Geben Sie Ihnen das flexibelste Werkzeug, um fast jeden Wunsch zur Heimautomatisierung wahr werden zu lassen; Wenn Sie es denken können, ist es wahrscheinlich, dass Sie es mit openHAB umsetzen können.
    es_es: El open Home Automation Bus (openHAB, pronunciado ˈəʊpənˈhæb) es una plataforma de automatización doméstica de código abierto y tecnología agnóstica que funciona como el centro de su hogar inteligente. ¡Su capacidad para integrar una multitud de otros dispositivos y sistemas. openHAB incluye otros sistemas de automatización doméstica, dispositivos (inteligentes) y otras tecnologías en una sola solución. Para proporcionar una interfaz de usuario uniforme y un enfoque común a las reglas de automatización a lo largo de todo el sistema, independientemente del número de fabricantes y sub-sistemas involucrados. Dándote la herramienta más flexible disponible para hacer realidad casi cualquier deseo de automatización doméstica; si puedes pensar en ello, es probable que puedas implementarlo con openHAB.
    fr_fr: Le bus d'automatisation domestique open (openHAB, prononcé ˈəʊpənˈhæb) est une plate-forme d'automatisation domestique open source et technologie agnostique qui fonctionne comme le centre de votre maison intelligente. Sa capacité à intégrer une multitude d'autres appareils et systèmes. openHAB inclut d'autres systèmes d'automatisation domestique, (intelligents) appareils et autres technologies dans une seule solution. Pour fournir une interface utilisateur uniforme et une approche commune aux règles d'automatisation sur l'ensemble du système, indépendamment du nombre de fabricants et de sous-systèmes impliqués. Vous donnant l'outil le plus flexible disponible pour rendre presque tous les souhaits d'automatisation domestique; si vous pouvez y penser, il est probable que vous puissiez le mettre en œuvre avec openHAB.
    hu_hu: Az open Home Automation Bus (openHAB, ˈəʊpənˈhæb) egy nyílt forráskódú, technológia agnostikus otthoni automatizálási platform, amely a Smart Home központjaként működik! A többi különböző eszköz és rendszer integrálásának képessége. Az openHAB más otthoni automatizálási rendszereket, (intelligens) eszközöket és más technológiákat egyetlen megoldásba integrál. A rendszer egészére vonatkozóan egy egységes felhasználói felület és egy közös automatizálási szabályok megközelítésének biztosítása a gyártók és a részrendszerök számától függetlenül. Adja Önnek a legrugalmasabb eszközt, hogy majdnem bármilyen otthoni automatizálási kívánságát teljesítheti; ha gondolhatja, valószínűleg megvalósíthatja az openHAB-vel.
    it_it: Il bus di automazione domestica open (openHAB, pronunciato ˈəʊpənˈhæb) è una piattaforma di automazione domestica open source e tecnologia agnostica che funziona come il centro della tua casa intelligente. La sua capacità di integrare una moltitudine di altri dispositivi e sistemi. openHAB include altri sistemi di automazione domestica, dispositivi (intelligenti) e altre tecnologie in una sola soluzione. Per fornire un'interfaccia utente uniforme e un approccio comune alle regole di automazione su tutto il sistema, indipendentemente dal numero di produttori e sottosistemi coinvolti. Ti dà l'unico strumento più flessibile disponibile per realizzare quasi ogni desiderio di automazione domestica; se puoi pensarlo, è probabile che tu possa realizzarlo con openHAB.
    ru_ru: Открытый автоматизационный домашний автобус (openHAB, произносится ˈəʊpənˈhæb) - это открытая платформа для автоматизации домашней техники и технологии, которая работает как центр вашего умного дома. Его способность интегрировать множество других устройств и систем. openHAB включает в себя другие системы автоматизации домашней техники, (умные) устройства и другие технологии в единую систему. Для обеспечения единого пользовательского интерфейса и единого подхода к правилам автоматизации по всей системе, независимо от количества производителей и подсистем. Давая вам самый гибкий инструмент, чтобы сделать почти любое желание по автоматизации дома; если вы можете себе это представить, вероятно, вы можете сделать это с openHAB.
    pl_pl: Open Home Automation Bus (openHAB, wymawiane ˈəʊpənˈhæb) to otwarta platforma automatyzacji domowej i technologii agnostycznej, która działa jako centrum inteligentnego domu. Jego zdolność do integracji wielu innych urządzeń i systemów. openHAB obejmuje inne systemy automatyzacji domowej, urządzenia (inteligentne) i inne technologie w jednym rozwiązaniu. Aby zapewnić jednolitą interfejs użytkownika i wspólny podejście do reguł automatyzacji na całym systemie, niezależnie od liczby producentów i podsystemów. Dając Ci najbardziej elastyczny narzędzie do realizacji prawie każdego życzenia automatyzacji domowej; jeśli możesz sobie to wyobrazić, prawdopodobnie możesz to zrobić z openHAB.
    pt_br: O Open Home Automation Bus (openHAB, pronunciado ˈəʊpənˈhæb) é uma plataforma de automação residencial de código aberto e tecnologia agnóstica que funciona como o centro da sua casa inteligente. Sua capacidade de integrar uma multidão de outros dispositivos e sistemas. openHAB inclui outros sistemas de automação residencial, dispositivos (inteligentes) e outras tecnologias em uma única solução. Para fornecer uma interface de usuário uniforme e uma abordagem comum às regras de automação em todo o sistema, independentemente do número de fabricantes e sub-sistemas envolvidos. Você dá a você a ferramenta mais flexível disponível para realizar quase todos os seus desejos de automação residencial; se você pode pensar nisso, é provável que você possa implementá-lo com openHAB.
    sv_se: Open Home Automation Bus (openHAB, uttalas ˈəʊpənˈhæb) är en öppen plattform för hemautomation och teknologiagnostisk som fungerar som centrum för ditt smarta hem. Sitt förmåga att integrera en mängd andra enheter och system. openHAB inkluderar andra hemautomationsystem, enheter (smart) och andra teknologier i en enda lösning. För att ge en enhetlig användargränssnitt och en gemensam tillvägagångssätt till automationsregler över hela systemet, oavsett antal tillverkare och underliggande system. Du ger dig själv den mest flexibla verktygen tillgängliga för att genomföra nästan alla dina önskemål om hemautomation; om du kan tänka dig det, är det troligt att du kan genomföra det med openHAB.
    uk_ua: Відкритий автоматизаційний домашній автобус (openHAB, проноситься ˈəʊpənˈhæb) - це відкрита платформа для автоматизації домашньої техніки і технології, яка працює як центр вашого розумного дому. Його здатність інтегрувати безліч інших пристроїв і систем. openHAB включає в себе інші системи автоматизації домашньої техніки, (розумні) пристрої і інші технології в єдину систему. Для забезпечення єдиного користувацького інтерфейсу і єдиного підходу до правил автоматизації по всій системі, незалежно від кількості виробників і підсистем. Даваючи вам найбільш гнучкий інструмент, щоб зробити майже будь-яке бажання по автоматизації дому; якщо ви можете собі це уявити, ймовірно, ви можете зробити це з openHAB.
  developer: openHAB
  icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/OpenHAB/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/OpenHAB/screenshot-1.jpg
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/OpenHAB/screenshot-2.jpg
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/OpenHAB/screenshot-3.jpg
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/OpenHAB/screenshot-4.jpg
  tagline:
    en_us: Empowering the smart home
    zh_cn: 助力智能家居
    ar_sa: تمكين البيت الذكي
    de_de: Stärkung des Smart Home
    es_es: Empoderamiento del hogar inteligente
    fr_fr: Renforcer la maison intelligente
    hu_hu: A okos otthon erősítése
    it_it: Potenziamento della casa intelligente
    ru_ru: Усиление умного дома
    pl_pl: Wzmocnienie inteligentnego domu
    pt_br: Empoderando o lar inteligente
    sv_se: Stärkning av smart hem
    uk_ua: Підтримка розумного дому
  thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/OpenHAB/thumbnail.png
  tips: {}
  title:
    en_us: OpenHAB
  index: /
  port_map: "8080"
