name: nextcloud
services:
  nextcloud:
    image: nextcloud:25.0.4
    deploy:
      resources:
        reservations:
          memory: "512M"
    network_mode: bridge
    ports:
      - target: 80
        published: "10080"
        protocol: tcp
      - target: 443
        published: "10443"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/var/www/html
        target: /var/www/html
    x-casaos:
      author: CasaOS Team
      category: Cloud
      container:
        index: /
        port_map: "80"
        ports:
          - configurable: advanced
            container: "80"
            description:
              en_US: WebUI HTTP Port

          - configurable: advanced
            container: "443"
            description:
              en_US: WebUI HTTPS Port

        shell: bash
        volumes:
          - configurable: "no"
            container: /var/www/html
            description:
              en_US: Nextcloud config directory.
      description:
        en_US: Nextcloud puts your data at your fingertips, under your control. Store your documents, calendar, contacts and photos on a server at home, at one of our providers or in a data center you trust.
      developer: Nextcloud
      icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Nextcloud/icon.png
      screenshot_link:
        - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Nextcloud/screenshot-1.png
        - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Nextcloud/screenshot-2.png
        - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Nextcloud/screenshot-3.png
      tagline:
        en_US: The productivity platform that keeps you in control
      thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Nextcloud/thumbnail.jpg
      tips: {}
      title:
        en_US: Nextcloud
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
    - "386"
    - mips64le
    - ppc64le
    - s390x
  main_app: nextcloud
