name: chatgpt-next-web
services:
  chatgpt-next-web:
    environment:
      PGID: $PGID
      PUID: $PUID
      TZ: $TZ
      CODE: ""
      PROXY_URL: ""
      BASE_URL: "https://api.openai.com"
    image: yidadaa/chatgpt-next-web:v2.11.3
    deploy:
      resources:
        reservations:
          memory: 64M
    network_mode: bridge
    ports:
      - target: 3000
        published: "3000"
        protocol: tcp
    restart: unless-stopped
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: "timezone"
            zh_cn: "时区"
        - container: CODE
          description:
            en_us: Access password, separated by comma.
            zh_cn: 访问密码，用英文逗号分隔。
        - container: PROXY_URL
          description:
            en_us: "http proxy"
            zh_cn: "http 代理"
        - container: BASE_URL
          description:
            en_us: Override OpenAI API request base URL.
            zh_cn: 覆盖 OpenAI API 请求基础 URL。
      ports:
        - container: "3000"
          description:
            en_us: WebUI HTTP Port
            zh_cn: WebUI HTTP 端口

    container_name: chatgpt-next-web
x-casaos:
  architectures:
    - amd64
    - arm64
  main: chatgpt-next-web
  author: CorrectRoadH,Cp0204
  category: Utilities
  description:
    en_us: An intelligent chat application based on ChatGPT, supports fast deployment, Markdown, beautiful UI, fluid response, privacy and security, and allows customization of preset roles for quick creation, sharing, and debugging of personalized conversations.
    zh_cn: 一个基于 ChatGPT 的智能聊天应用，支持快速部署、Markdown 支持、精美 UI、流式响应、隐私安全等多个功能，并且能够自定义预制角色快速创建、分享和调试个性化对话。
  developer: Yidadaa
  icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/ChatGPT-Next-Web/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/ChatGPT-Next-Web/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/ChatGPT-Next-Web/screenshot-2.png
  tagline:
    en_us: A well-designed cross-platform ChatGPT UI.
    zh_cn: 精心设计的跨平台 ChatGPT UI
  thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/ChatGPT-Next-Web/thumbnail.png
  tips: {}
  title:
    en_us: ChatGPT Next Web
  port_map: "3000"
