name: uptimekuma
services:
  uptimekuma:
    image: louislam/uptime-kuma:1.23.11-alpine
    deploy:
      resources:
        reservations:
          memory: "128M"
    network_mode: bridge
    ports:
      - target: 3001
        published: "3001"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/app/data
        target: /app/data
    x-casaos:
      ports:
        - container: "3001"
          description:
            en_us: WebUI Port
            zh_cn: WebUI 端口

      volumes:
        - container: /app/data
          description:
            en_us: Uptime Kuma data directory.
            zh_cn: Uptime Kuma 数据目录。
    container_name: uptimekuma
x-casaos:
  architectures:
    - amd64
    - arm64
    - arm
  main: uptimekuma
  author: CasaOS Team
  category: Network
  description:
    en_us: It is a self-hosted monitoring tool like "Uptime Robot".
    zh_cn: Uptime Kuma 是一个自托管的监控工具，类似于 Uptime Robot。
    ar_sa: إنه أداة مراقبة مستضافة بنفسها مثل "Uptime Robot".
    de_de: Es ist ein selbst gehostetes Überwachungstool wie "Uptime Robot".
    es_es: Es es una herramienta de monitoreo autohospedada como "Uptime Robot".
    fr_fr: Il s'agit d'un outil de surveillance auto-hébergé comme "Uptime Robot".
    hu_hu: Ez egy önállóan kiszolgáló monitorozási eszköz, mint az "Uptime Robot".
    it_it: È un tool di monitoraggio auto-host come "Uptime Robot".
    ru_ru: Это самостоятельный инструмент мониторинга, подобный "Uptime Robot".
    pl_pl: Jest to narzędzie monitorowania hostowanego samodzielnie, podobne do "Uptime Robot".
    pt_br: É uma ferramenta de monitoramento auto-hospedada como "Uptime Robot".
    sv_se: Det är ett självhärdande övervakningsverktyg som "Uptime Robot".
    uk_ua: Це самостійний інструмент моніторингу, подібний до "Uptime Robot".
  developer: Louis Lam
  icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/UptimeKuma/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/UptimeKuma/screenshot-1.jpg
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/UptimeKuma/screenshot-2.jpg
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/UptimeKuma/screenshot-3.jpg
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/UptimeKuma/screenshot-4.jpg
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/UptimeKuma/screenshot-5.jpg
  tagline:
    en_us: A fancy monitoring tool
    zh_cn: 一个漂亮的监控工具
    ar_sa: أداة مراقبة رائعة
    de_de: Ein schönes Überwachungstool
    es_es: Una herramienta de monitoreo elegante
    fr_fr: Un outil de surveillance élégant
    hu_hu: Egy szép monitorozási eszköz
    it_it: Un bel tool di monitoraggio
    ru_ru: Красивый инструмент мониторинга
    pl_pl: Eleganckie narzędzie monitorowania
    pt_br: Uma ferramenta de monitoramento elegante
    sv_se: Ett fint övervakningsverktyg
    uk_ua: Красивий інструмент моніторингу
  thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/UptimeKuma/thumbnail.png
  tips: {}
  title:
    en_us: Uptime Kuma
  index: /
  port_map: "3001"
