name: alist
services:
  alist:
    image: xhofe/alist:v3.41.0
    deploy:
      resources:
        reservations:
          memory: "64M"
    network_mode: bridge
    ports:
      - target: 5244
        published: "5244"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/data
        target: /opt/alist/data
    x-casaos:
      ports:
        - container: "5244"
          description:
            en_us: WebUI HTTP Port
            zh_cn: WebUI HTTP端口
      volumes:
        - container: /opt/alist/data
          description:
            en_us: alist config directory.
            zh_cn: alist 配置目录
    container_name: alist
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  author: Cp0204
  category: Cloud
  description:
    en_us: |
      Access your remote cloud files as if they were local files using Alist.

      Deploy Alist on your Zima devices and unlock the full potential of your digital storage by integrating it with Plex, Jellyfin, and Emby. You can access your cloud resources within these applications, save shared resources to your cloud drive, and use them directly in your local software without additional downloads.
    zh_cn: |
      使用 Alist 像访问本地文件一样访问你远程网盘的文件，

      在您的 Zima 设备上部署 Alist ，通过与 Plex、Jellyfin、Emby 结合，释放您数字存储的全部潜力。你可以在这些软件中访问你云盘上的资源，保存别人分享的资源到云盘，然后直接在本地软件中使用，无需额外的下载。
  developer: Xhofe
  icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/screenshot-1.png
  main: alist
  port_map: "5244"
  scheme: http
  tagline:
    en_us: A file list program that supports multiple storage
    zh_cn: 一个支持多种存储的文件列表程序
  thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/thumbnail.png
  tips:
    before_install:
      en_us: After installation, please check the initial password in the container log (Settings - TopRight - Terminal and Logs - Logs).
      zh_cn: 安装完成后，请在容器日志（应用-设置-右上角-终端与日志-日志）中查看初始密码。
  title:
    en_us: Alist
