name: alist
services:
  alist:
    image: xhofe/alist:v3.41.0
    deploy:
      resources:
        reservations:
          memory: "64M"
    network_mode: bridge
    ports:
      - target: 5244
        published: "5244"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/data
        target: /opt/alist/data
    x-casaos:
      ports:
        - container: "5244"
          description:
            en_us: WebUI HTTP Port
            zh_cn: WebUI HTTP端口
      volumes:
        - container: /opt/alist/data
          description:
            en_us: alist config directory.
            zh_cn: alist 配置目录
    container_name: alist
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  author: Xhofe
  category: Cloud
  description:
    en_US: |
      Alist transforms how you manage and access your files at home, whether on your TV, phone, or any other device. Unlike traditional cloud storage, Alist offers a unified experience across multiple platforms, making it a breeze to keep your media and documents at your fingertips.

      With features like easy installation, support for multiple storage providers (local, Aliyundrive, Onedrive, Google Drive), WebDAV support, dark mode, protected routes with password authentication, file previews for videos, audio, office files, PDFs, code, images, package and batch downloads, single sign-on, offline torrent downloads, file encryption, and additional tools like a text editor and Cloudflare workers proxy, Alist ensures a seamless and secure file management experience.

      Deploying Alist on private cloud devices like Zima brings unmatched convenience with multi-device access, ensuring your files are always within reach and secure, no matter where you are.
    en_GB: |
      Alist revolutionises how you manage and access your files at home, whether on your TV, phone, or any other device. Unlike traditional cloud storage, Alist provides a unified experience across multiple platforms, making it effortless to keep your media and documents readily accessible.

      With features such as straightforward installation, support for various storage providers (local, Aliyundrive, Onedrive, Google Drive), WebDAV support, dark mode, secure routes with password authentication, file previews for videos, audio, office files, PDFs, code, images, package and batch downloads, single sign-on, offline torrent downloads, file encryption, and additional tools like a text editor and Cloudflare workers proxy, Alist ensures a seamless and secure file management experience.

      Deploying Alist on private cloud devices like Zima offers unparalleled convenience with multi-device access, ensuring your files are always within reach and secure, wherever you are.
    it_IT: |
      Alist trasforma il modo in cui gestisci e accedi ai tuoi file a casa, sia che tu usi la TV, il telefono o qualsiasi altro dispositivo. A differenza dei tradizionali servizi di archiviazione cloud, Alist offre un'esperienza unificata su più piattaforme, rendendo semplice avere i tuoi media e documenti sempre a portata di mano.

      Con funzionalità come un'installazione facile, supporto per più provider di archiviazione (locale, Aliyundrive, Onedrive, Google Drive), supporto WebDAV, modalità scura, percorsi protetti con autenticazione tramite password, anteprime di file per video, audio, file office, PDF, codice, immagini, download di pacchetti e in batch, accesso singolo, download di torrent offline, crittografia dei file e strumenti aggiuntivi come un editor di testo e un proxy Cloudflare workers, Alist garantisce un'esperienza di gestione dei file fluida e sicura.

      L'implementazione di Alist su dispositivi cloud privati come Zima offre una comodità senza pari con accesso multi-dispositivo, garantendo che i tuoi file siano sempre accessibili e sicuri, ovunque tu sia.
    nb_NO: |
      Alist forvandler måten du håndterer og får tilgang til filene dine hjemme, enten det er på TV-en, telefonen eller en annen enhet. I motsetning til tradisjonell skylagring tilbyr Alist en enhetlig opplevelse på tvers av flere plattformer, noe som gjør det enkelt å ha media og dokumenter lett tilgjengelig.

      Med funksjoner som enkel installasjon, støtte for flere lagringsleverandører (lokalt, Aliyundrive, Onedrive, Google Drive), WebDAV-støtte, mørk modus, beskyttede ruter med passordautentisering, forhåndsvisning av filer for videoer, lyd, kontorfiler, PDF-er, kode, bilder, pakke- og massenedlastinger, enkel pålogging, offline torrent-nedlastinger, filkryptering og ekstra verktøy som en teksteditor og Cloudflare workers proxy, sikrer Alist en sømløs og sikker filhåndteringsopplevelse.

      Å distribuere Alist på private skysenheter som Zima gir uovertruffen bekvemmelighet med tilgang fra flere enheter, og sikrer at filene dine alltid er innen rekkevidde og sikre, uansett hvor du er.
    zh_CN: |
      Alist 改变你在家中管理和访问文件的方式，无论是在电视、手机还是其他设备上。与传统的云存储不同，Alist 提供跨多个平台的统一体验，让你的媒体和文档随时触手可及。

      凭借简单安装、支持多种存储提供商（本地、阿里云盘、OneDrive、Google Drive）、WebDAV 支持、暗色模式、密码认证保护路径、视频、音频、办公文件、PDF、代码、图片的文件预览、批量和打包下载、单点登录、离线 torrent 下载、文件加密以及文本编辑器和 Cloudflare workers 代理等额外工具等功能，Alist 确保了流畅且安全的文件管理体验。

      在像 Zima 这样的私有云设备上部署 Alist，可实现多设备访问的无与伦比的便利，确保你的文件无论身处何地都能随时访问且安全。
    ja_JP: |
      Alistは、テレビ、電話、その他のデバイスを問わず、家庭でのファイルの管理とアクセス方法を変革します。従来のクラウドストレージとは異なり、Alistは複数のプラットフォームで統一された体験を提供し、メディアやドキュメントを手元に置くことを簡単にしてくれます。

      簡単なインストール、複数のストレージプロバイダー（ローカル、Aliyundrive、Onedrive、Google Drive）のサポート、WebDAV対応、ダークモード、パスワード認証による保護されたルート、ビデオ、オーディオ、オフィスファイル、PDF、コード、画像のファイルプレビュー、パッケージおよびバッチダウンロード、シングルサインオン、オフラインでのtorrentダウンロード、ファイル暗号化、テキストエディタやCloudflareワーカープロキシなどの追加ツールといった機能により、Alistはスムーズで安全なファイル管理体験を保証します。

      ZimaのようなプライベートクラウドデバイスにAlistをデプロイすることで、マルチデバイスアクセスによる比類のない利便性を提供し、どこにいてもファイルが常に手の届くところにあり、安全であることを保証します。
    ko_KR: |
      Alist는 TV, 휴대폰 또는 기타 디바이스에서 집에서 파일을 관리하고 접근하는 방식을 혁신합니다. 기존의 클라우드 스토리지와 달리 Alist는 여러 플랫폼에서 통합된 경험을 제공하여 미디어와 문서를 손쉽게 관리할 수 있도록 합니다.

      쉬운 설치, 여러 스토리지 제공자(로컬, Aliyundrive, Onedrive, Google Drive) 지원, WebDAV 지원, 다크 모드, 비밀번호 인증으로 보호된 경로, 비디오, 오디오, 오피스 파일, PDF, 코드, 이미지의 파일 미리보기, 패키지 및 일괄 다운로드, 싱글 사인온, 오프라인 토렌트 다운로드, 파일 암호화, 텍스트 편집기 및 Cloudflare 워커 프록시와 같은 추가 도구 등의 기능을 통해 Alist는 원활하고 안전한 파일 관리 경험을 보장합니다.

      Zima와 같은 개인 클라우드 디바이스에 Alist를 배포하면 다중 디바이스 액세스를 통해 비교할 수 없는 편리함을 제공하며, 어디에 있든 파일에 항상 접근할 수 있고 안전하게 유지할 수 있습니다.
    fr_FR: |
      Alist transforme la manière dont vous gérez et accédez à vos fichiers à la maison, que ce soit sur votre télévision, votre téléphone ou tout autre appareil. Contrairement au stockage cloud traditionnel, Alist offre une expérience unifiée sur plusieurs plateformes, rendant l'accès à vos médias et documents extrêmement simple.

      Avec des fonctionnalités telles qu'une installation facile, la prise en charge de plusieurs fournisseurs de stockage (local, Aliyundrive, Onedrive, Google Drive), le support WebDAV, le mode sombre, des routes protégées par authentification par mot de passe, des aperçus de fichiers pour les vidéos, l'audio, les fichiers bureautiques, les PDF, le code, les images, les téléchargements par lots et par paquets, l'authentification unique, les téléchargements de torrents hors ligne, le chiffrement des fichiers, ainsi que des outils supplémentaires comme un éditeur de texte et un proxy Cloudflare workers, Alist garantit une expérience de gestion de fichiers fluide et sécurisée.

      Le déploiement d'Alist sur des appareils cloud privés comme Zima offre une commodité inégalée avec un accès multi-appareils, garantissant que vos fichiers sont toujours à portée de main et sécurisés, où que vous soyez.
    de_DE: |
      Alist verändert die Art und Weise, wie Sie Ihre Dateien zu Hause verwalten und darauf zugreifen, sei es auf Ihrem Fernseher, Telefon oder einem anderen Gerät. Im Gegensatz zu herkömmlichem Cloud-Speicher bietet Alist ein einheitliches Erlebnis auf mehreren Plattformen, sodass Ihre Medien und Dokumente immer griffbereit sind.

      Mit Funktionen wie einfacher Installation, Unterstützung für mehrere Speicheranbieter (lokal, Aliyundrive, Onedrive, Google Drive), WebDAV-Unterstützung, Dunkelmodus, geschützte Routen mit Passwortauthentifizierung, Dateivorschauen für Videos, Audio, Office-Dateien, PDFs, Code, Bilder, Paket- und Stapel-Downloads, Single Sign-On, Offline-Torrent-Downloads, Dateiverschlüsselung sowie zusätzlichen Tools wie einem Texteditor und einem Cloudflare-Workers-Proxy gewährleistet Alist ein nahtloses und sicheres Dateiverwaltungserlebnis.

      Die Bereitstellung von Alist auf privaten Cloud-Geräten wie Zima bietet unvergleichlichen Komfort mit Multi-Geräte-Zugriff und stellt sicher, dass Ihre Dateien immer erreichbar und sicher sind, egal wo Sie sich befinden.
    sv_SE: |
      Alist förändrar hur du hanterar och får åtkomst till dina filer hemma, oavsett om det är på din TV, telefon eller någon annan enhet. Till skillnad från traditionell molnlagring erbjuder Alist en enhetlig upplevelse över flera plattformar, vilket gör det enkelt att ha dina media och dokument nära till hands.

      Med funktioner som enkel installation, stöd för flera lagringsleverantörer (lokalt, Aliyundrive, Onedrive, Google Drive), WebDAV-stöd, mörkt läge, skyddade vägar med lösenordsautentisering, förhandsvisning av filer för videor, ljud, kontorsfiler, PDF-filer, kod, bilder, paket- och massnedladdningar, enkel inloggning, offline torrent-nedladdningar, filkryptering och extra verktyg som en textredigerare och Cloudflare workers proxy, säkerställer Alist en smidig och säker filhanteringsupplevelse.

      Att distribuera Alist på privata molnenheter som Zima ger oöverträffad bekvämlighet med åtkomst från flera enheter, vilket säkerställer att dina filer alltid är inom räckhåll och säkra, oavsett var du befinner dig.
    el_GR: |
      Το Alist μεταμορφώνει τον τρόπο που διαχειρίζεστε και αποκτάτε πρόσβαση στα αρχεία σας στο σπίτι, είτε πρόκειται για την τηλεόρασή σας, το τηλέφωνο ή οποιαδήποτε άλλη συσκευή. Σε αντίθεση με την παραδοσιακή αποθήκευση στο cloud, το Alist προσφέρει μια ενοποιημένη εμπειρία σε πολλαπλές πλατφόρμες, καθιστώντας εύκολο να έχετε τα μέσα και τα έγγραφά σας στα χέρια σας.

      Με χαρακτηριστικά όπως εύκολη εγκατάσταση, υποστήριξη για πολλούς παρόχους αποθήκευσης (τοπικός, Aliyundrive, Onedrive, Google Drive), υποστήριξη WebDAV, σκοτεινή λειτουργία, προστατευμένες διαδρομές με πιστοποίηση κωδικού πρόσβασης, προεπισκόπηση αρχείων για βίντεο, ήχο, αρχεία γραφείου, PDF, κώδικα, εικόνες, πακέτα και μαζικές λήψεις, ενιαία σύνδεση, λήψεις torrent εκτός σύνδεσης, κρυπτογράφηση αρχείων και επιπλέον εργαλεία όπως επεξεργαστής κειμένου και proxy Cloudflare workers, το Alist εξασφαλίζει μια απρόσκοπτη και ασφαλή εμπειρία διαχείρισης αρχείων.

      Η ανάπτυξη του Alist σε ιδιωτικές συσκευές cloud όπως το Zima προσφέρει απαράμιλλη ευκολία με πρόσβαση από πολλαπλές συσκευές, εξασφαλίζοντας ότι τα αρχεία σας είναι πάντα προσβάσιμα και ασφαλή, όπου κι αν βρίσκεστε.
    hr_HR: |
      Alist mijenja način na koji upravljate i pristupate svojim datotekama kod kuće, bilo da koristite televizor, telefon ili bilo koji drugi uređaj. Za razliku od tradicionalnog pohranjivanja u oblaku, Alist nudi ujednačeno iskustvo na više platformi, čineći jednostavnim držanje vaših medija i dokumenata nadohvat ruke.

      S značajkama poput jednostavne instalacije, podrške za više pružatelja pohrane (lokalno, Aliyundrive, Onedrive, Google Drive), podrške za WebDAV, tamnog načina rada, zaštićenih ruta s autentifikacijom lozinkom, pregleda datoteka za video, audio, uredske datoteke, PDF-ove, kod, slike, paketa i skupnih preuzimanja, jedinstvene prijave, preuzimanja torrenta izvan mreže, šifriranja datoteka te dodatnih alata poput uređivača teksta i Cloudflare workers proxyja, Alist osigurava besprijekorno i sigurno iskustvo upravljanja datotekama.

      Implementacija Alista na privatnim uređajima u oblaku poput Zime donosi nenadmašnu praktičnost s pristupom s više uređaja, osiguravajući da su vaše datoteke uvijek dostupne i sigurne, gdje god se nalazili.
    pt_PT: |
      O Alist transforma a forma como gere e acede aos seus ficheiros em casa, seja na sua televisão, telemóvel ou qualquer outro dispositivo. Ao contrário do armazenamento em nuvem tradicional, o Alist oferece uma experiência unificada em várias plataformas, tornando simples manter os seus média e documentos ao seu alcance.

      Com funcionalidades como instalação fácil, suporte para vários fornecedores de armazenamento (local, Aliyundrive, Onedrive, Google Drive), suporte WebDAV, modo escuro, rotas protegidas com autenticação por palavra-passe, pré-visualização de ficheiros para vídeos, áudio, ficheiros de escritório, PDFs, código, imagens, downloads em pacote e em lote, autenticação única, downloads de torrents offline, encriptação de ficheiros e ferramentas adicionais como um editor de texto e proxy de trabalhadores Cloudflare, o Alist garante uma experiência de gestão de ficheiros fluida e segura.

      A implementação do Alist em dispositivos de nuvem privada como o Zima proporciona uma conveniência inigualável com acesso multi-dispositivo, garantindo que os seus ficheiros estejam sempre acessíveis e seguros, onde quer que esteja.
    ru_RU: |
      Alist преобразует способ управления и доступа к вашим файлам дома, будь то на телевизоре, телефоне или любом другом устройстве. В отличие от традиционного облачного хранилища, Alist предлагает единый опыт работы на нескольких платформах, делая ваши медиа и документы легко доступными.

      Благодаря таким функциям, как простая установка, поддержка нескольких провайдеров хранения (локальное, Aliyundrive, Onedrive, Google Drive), поддержка WebDAV, тёмный режим, защищённые маршруты с аутентификацией по паролю, предварительный просмотр файлов для видео, аудио, офисных файлов, PDF, кода, изображений, пакетная и групповая загрузка, единый вход, оффлайн-загрузка торрентов, шифрование файлов, а также дополнительные инструменты, такие как текстовый редактор и прокси Cloudflare workers, Alist обеспечивает плавный и безопасный процесс управления файлами.

      Развёртывание Alist на частных облачных устройствах, таких как Zima, предоставляет непревзойдённое удобство с доступом с нескольких устройств, гарантируя, что ваши файлы всегда под рукой и в безопасности, где бы вы ни находились.
    tr_TR: |
      Alist, evde televizyonunuzda, telefonunuzda veya başka bir cihazda dosyalarınızı yönetme ve erişme şeklinizi dönüştürür. Geleneksel bulut depolama sistemlerinden farklı olarak, Alist birden fazla platformda birleşik bir deneyim sunar ve medya ile belgelerinizi parmaklarınızın ucunda tutmayı kolaylaştırır.

      Kolay kurulum, birden fazla depolama sağlayıcısı (yerel, Aliyundrive, Onedrive, Google Drive) desteği, WebDAV desteği, karanlık mod, şifre doğrulamalı korumalı yollar, video, ses, ofis dosyaları, PDF'ler, kod, resimler için dosya önizlemeleri, paket ve toplu indirmeler, tek oturum açma, çevrimdışı torrent indirmeleri, dosya şifreleme ve metin editörü ile Cloudflare workers proxy gibi ek araçlar gibi özelliklerle Alist, sorunsuz ve güvenli bir dosya yönetimi deneyimi sağlar.

      Alist'i Zima gibi özel bulut cihazlarına dağıtmak, çoklu cihaz erişimi ile eşsiz bir kolaylık sunar ve nerede olursanız olun dosyalarınıza her zaman erişilebilir ve güvenli olmasını sağlar.
  developer: Xhofe
  icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/screenshot-3.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/screenshot-4.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/screenshot-5.png
  main: alist
  port_map: "5244"
  scheme: http
  tagline:
    en_US: Mount your cloud drive on your home NAS
    en_GB: Mount your cloud drive on your home NAS
    it_IT: Monta il tuo disco cloud sul tuo NAS domestico
    nb_NO: Monter skylagringsstasjonen din på hjemme-NAS-en
    zh_CN: 将你的云盘挂载到家用NAS上
    ja_JP: クラウドドライブをホームNASにマウント
    ko_KR: 클라우드 드라이브를 홈 NAS에 마운트
    fr_FR: Montez votre disque cloud sur votre NAS domestique
    de_DE: Mounten Sie Ihr Cloud-Laufwerk auf Ihrem Heim-NAS
    sv_SE: Montera din molndisk på din hemmagjorda NAS
    el_GR: Τοποθετήστε τη μονάδα cloud σας στο οικιακό σας NAS
    hr_HR: Povežite svoj cloud disk na kućni NAS
    pt_PT: Monte o seu disco na nuvem no seu NAS doméstico
    ru_RU: Подключите ваш облачный диск к домашнему NAS
    tr_TR: Bulut sürücünüzü ev NAS'ınıza bağlayın
  thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Alist/thumbnail.png
  tips:
    before_install:
      en_US: After installation, please check the initial password in the container log (Settings - TopRight - Terminal and Logs - Logs).
      en_GB: After installation, please check the initial password in the container log (Settings - Top Right - Terminal and Logs - Logs).
      it_IT: Dopo l'installazione, verifica la password iniziale nel log del contenitore (Impostazioni - In alto a destra - Terminale e Log - Log).
      nb_NO: Etter installasjonen, vennligst sjekk det opprinnelige passordet i containerloggen (Innstillinger - Øverst til høyre - Terminal og logger - Logger).
      zh_CN: 安装完成后，请在容器日志中检查初始密码（设置 - 右上角 - 终端和日志 - 日志）。
      ja_JP: インストール後、コンテナログで初期パスワードを確認してください（設定 - 右上 - ターミナルとログ - ログ）。
      ko_KR: 설치 후 컨테이너 로그에서 초기 비밀번호를 확인하세요 (설정 - 오른쪽 상단 - 터미널 및 로그 - 로그).
      fr_FR: Après l'installation, veuillez vérifier le mot de passe initial dans le journal du conteneur (Paramètres - En haut à droite - Terminal et journaux - Journaux).
      de_DE: Nach der Installation überprüfen Sie bitte das anfängliche Passwort im Containerprotokoll (Einstellungen - Oben rechts - Terminal und Protokolle - Protokolle).
      sv_SE: Efter installationen, kontrollera det ursprungliga lösenordet i containerloggen (Inställningar - Överst till höger - Terminal och loggar - Loggar).
      el_GR: Μετά την εγκατάσταση, ελέγξτε τον αρχικό κωδικό πρόσβασης στο αρχείο καταγραφής του κοντέινερ (Ρυθμίσεις - Πάνω δεξιά - Τερματικό και Καταγραφές - Καταγραφές).
      hr_HR: Nakon instalacije, provjerite početnu lozinku u zapisniku kontejnera (Postavke - Gornji desni kut - Terminal i zapisi - Zapisi).
      pt_PT: Após a instalação, verifique a senha inicial no log do contêiner (Configurações - Canto superior direito - Terminal e Registos - Registos).
      ru_RU: После установки проверьте начальный пароль в журнале контейнера (Настройки - Вверху справа - Терминал и журналы - Журналы).
      tr_TR: Kurulumdan sonra, başlangıç şifresini konteyner günlüğünde kontrol edin (Ayarlar - Sağ Üst - Terminal ve Günlükler - Günlükler).
  title:
    en_us: Alist
