name: holoplay
services:
  holoplay:
    image: spout8301/holoplay:1.9.1
    ports:
      - target: 3000
        published: "3000"
        protocol: tcp
    privileged: true
    restart: unless-stopped
    container_name: holoplay
x-casaos:
  architectures:
    - amd64
    - "386"
    - arm64
    - arm
  main: holoplay
  category: WEB
  description:
    en_us: HoloPlay is a web based self-hosted using Invidious API for listening Youtube audio source.
    fr_fr: HoloPlay est une alternative qui utilise l'API Invidious pour écouter des sources audio de Youtube.
  developer: Stéphane Richin
  icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/HoloPlay/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/HoloPlay/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/HoloPlay/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/HoloPlay/screenshot-3.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/HoloPlay/screenshot-4.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/HoloPlay/screenshot-5.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/HoloPlay/screenshot-6.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/HoloPlay/screenshot-7.png
  tagline:
    en_us: A web app to listen Youtube audio source.
    fr_fr: Une application Web pour écouter les sources audio de Youtube.
  thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/HoloPlay/thumbnail.png
  tips: {}
  title:
    custom: HoloPlay
  index: /
  port_map: "3000"