name: photoprism
services:
  photoprism:
    environment:
      PHOTOPRISM_ADMIN_PASSWORD: casaos
      PHOTOPRISM_UPLOAD_NSFW: "true"
      TZ: $TZ
    image: photoprism/photoprism:250228
    deploy:
      resources:
        reservations:
          memory: "512M"
    network_mode: bridge
    ports:
      - target: 2342
        published: "2342"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/photoprism/storage
        target: /photoprism/storage
      - type: bind
        source: /DATA/Gallery
        target: /photoprism/originals
    x-casaos:
      envs:
        - container: TZ
          description:
            en_us: TimeZone
            zh_cn: 时区
        - container: PHOTOPRISM_UPLOAD_NSFW
          description:
            en_us: true or false, is it possible to upload NSFW
            zh_cn: true 或 false，是否允许上传 NSFW
        - container: PHOTOPRISM_ADMIN_PASSWORD
          description:
            en_us: The password of admin
            zh_cn: 管理员密码
      ports:
        - container: "2342"
          description:
            en_us: WebUI HTTP Port
            zh_cn: WebUI HTTP 端口

      volumes:
        - container: /photoprism/storage
          description:
            en_us: PhotoPrism storage directory.
            zh_cn: PhotoPrism 存储目录
        - container: /photoprism/originals
          description:
            en_us: PhotoPrism originals directory.
            zh_cn: PhotoPrism 原始文件目录
    container_name: photoprism
x-casaos:
  architectures:
    - amd64
    - arm64
  main: photoprism
  author: CasaOS Team
  category: Gallery
  description:
    en_us: |
      Your AI-Powered Photos App for the Decentralized Web

      PhotoPrism brings the magic of AI to your home TV, phone, and multiple devices, revolutionizing the way you manage and share your photos. Unlike traditional photo albums that require manual organization, PhotoPrism automatically tags and finds your pictures, making it easier than ever to relive your memories. Whether you're showing family photos on your TV or sharing vacation snapshots on your phone, PhotoPrism makes the experience seamless and enjoyable.

      PhotoPrism offers a host of features designed to enhance your photo management experience. With powerful search capabilities, automatic tagging, and a user-friendly interface, you'll find it easy to keep your photo collection organized. The app is free to use, with premium options available for those seeking additional features and support. Users can expect a smooth, intuitive experience that blends cutting-edge technology with everyday convenience.

      Deploying PhotoPrism on Zima private cloud devices offers unparalleled convenience. Enjoy unlimited storage capacity, the speed of your local network, and access from multiple devices without the need for the internet. It's the perfect solution for NAS enthusiasts who value privacy and performance.
    zh_cn: |
      您的去中心化的，AI驱动的照片应用程序

      PhotoPrism 将 AI 的魔力带入您的家庭电视、手机和多设备中，彻底改变了您管理和分享照片的方式。不像传统的照片相册需要手动整理，PhotoPrism 自动标记和查找您的照片，让您更轻松地重温美好回忆。无论是通过电视展示家庭照片，还是在手机上分享度假快照，PhotoPrism 都能使这一过程变得无缝且愉快。

      PhotoPrism 提供了一系列旨在增强您照片管理体验的功能。借助强大的搜索功能、自动标记和用户友好的界面，您将发现整理照片收藏变得轻而易举。该应用程序免费使用，并为那些寻求更多功能和支持的用户提供高级选项。用户可以期待一种融合前沿技术与日常便利的顺畅、直观的体验。

      在 Zima 私有云设备上部署 PhotoPrism 带来了无与伦比的便利。享受无限存储容量、本地网络速度以及无需互联网的多设备访问。这是重视隐私和性能的 NAS 爱好者的完美解决方案。
    ar_sa: PhotoPrism® هو تطبيق يعمل بقوة AI لاستعراض وتنظيم ومشاركة مجموعة صورك. يستخدمها التقنيات الأحدث للتسمية والعثور على الصور بشكل تلقائي دون أن يتدخل في طريقك. يمكنك تشغيله في المنزل أو على خادم خاص أو في السحابة.
    de_de: PhotoPrism® ist eine mit AI betriebene App zum Durchsuchen, Organisieren und Teilen Ihrer Foto-Sammlung. Es nutzt die neuesten Technologien, um Bilder automatisch zu kennzeichnen und zu finden, ohne Sie dabei zu stören. Sie können es zu Hause, auf einem privaten Server oder in der Cloud ausführen.
    es_es: PhotoPrism® es una aplicación impulsada por IA para navegar, organizar y compartir su colección de fotos. Hace uso de las últimas tecnologías para etiquetar y encontrar fotos automáticamente sin molestarte. Puedes ejecutarlo en casa, en un servidor privado o en la nube.
    fr_fr: PhotoPrism® est une application alimentée par l'IA pour parcourir, organiser et partager votre collection de photos. Il utilise les dernières technologies pour étiqueter et trouver des photos automatiquement sans vous déranger. Vous pouvez l'exécuter à la maison, sur un serveur privé ou dans le cloud.
    hu_hu: A PhotoPrism® egy AI-meghajtott alkalmazás, amely lehetővé teszi a fényképek böngészését, rendezését és megosztását. A legújabb technológiákat használja a képek automatikus címkézéséhez és megtalálásához, anélkül, hogy bármit is akadályozna. Otthon, egy privát szerveren vagy felhőben futtathatja.
    it_it: PhotoPrism® è un'app alimentata da IA per sfogliare, organizzare e condividere la tua collezione di foto. Fa uso delle ultime tecnologie per etichettare e trovare le foto automaticamente senza disturbarti. Puoi eseguirlo a casa, su un server privato o in cloud.
    ru_ru: PhotoPrism® - это приложение, работающее на AI, для просмотра, организации и обмена фотоколлекцией. Оно использует последние технологии для автоматической маркировки и поиска фотографий без помех. Вы можете запустить его дома, на частном сервере или в облаке.
    pl_pl: PhotoPrism® to aplikacja napędzana przez AI do przeglądania, organizowania i udostępniania kolekcji zdjęć. Wykorzystuje najnowsze technologie do automatycznego oznaczania i wyszukiwania zdjęć bez przeszkadzania. Możesz uruchomić ją w domu, na prywatnym serwerze lub w chmurze.
    pt_br: PhotoPrism® é um aplicativo alimentado por IA para navegar, organizar e compartilhar sua coleção de fotos. Ele usa as últimas tecnologias para marcar e encontrar fotos automaticamente sem te incomodar. Você pode executá-lo em casa, em um servidor privado ou na nuvem.
    sv_se: PhotoPrism® är en AI-drivet app för att bläddra, organisera och dela din fotokollektion. Den använder de senaste teknologierna för att märka och hitta bilder automatiskt utan att störa dig. Du kan köra det hemma, på en privat server eller i molnet.
    uk_ua: PhotoPrism® - це додаток, працюючий на AI, для перегляду, організації та обміну фотоколекцією. Він використовує останні технології для автоматичного позначення та пошуку фотографій без перешкод. Ви можете запустити його додому, на приватному сервері або у хмарі.
  developer: PhotoPrism
  icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/PhotoPrism/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/PhotoPrism/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/PhotoPrism/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/PhotoPrism/screenshot-3.png
  tagline:
    en_us: Browse Your Life in Images
    zh_cn: 用照片回忆您的生活
    ar_sa: تصفح وتنظيم ومشاركة مجموعة صورك
    de_de: Durchsuchen, Organisieren und Teilen Ihrer Foto-Sammlung
    es_es: Navegar, organizar y compartir su colección de fotos
    fr_fr: Parcourir, organiser et partager votre collection de photos
    hu_hu: A fényképek böngészése, rendezése és megosztása
    it_it: Sfogliare, organizzare e condividere la tua collezione di foto
    ru_ru: Просмотр, организация и обмен фотоколлекцией
    pl_pl: Przeglądanie, organizowanie i udostępnianie kolekcji zdjęć
    pt_br: Navegando, organizando e compartilhando sua coleção de fotos
    sv_se: Bläddra, organisera och dela din fotokollektion
    uk_ua: Перегляд, організація та обмін фотоколекцією
  thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/PhotoPrism/thumbnail.png
  tips:
    before_install:
      en_us: |
        ## PhotoPrism

        Default Account

        | Username | Password |
        | -------- | -------- |
        | `admin`    | `casaos`   |
      zh_cn: |
        ## PhotoPrism

        默认账号

        | 用户名 | 密码 |
        | -------- | -------- |
        | `admin`    | `casaos`   |
  title:
    en_us: PhotoPrism
  index: /
  port_map: "2342"
