name: lazylibrarian
services:
    lazylibrarian:
        environment:
            DOCKER_MODS: linuxserver/calibre-web:calibre|linuxserver/mods:lazylibrarian-ffmpeg
            PGID: "1000"
            PUID: "1000"
            TZ: Europe/London
        image: linuxserver/lazylibrarian:latest
        mem_reservation: "67108864"
        network_mode: bridge
        ports:
            - target: 5299
              published: "5299"
              protocol: tcp
        restart: unless-stopped
        volumes:
            - type: bind
              source: /DATA/Downloads
              target: /downloads
            - type: bind
              source: /path/to/data
              target: /books
            - type: bind
              source: /DATA/AppData/lazylibrarian/config
              target: /config
        x-casaos:
            author: asaOS Team
            category: Downloader
            container:
                envs:
                    - configurable: "no"
                      container: PUID
                      description:
                        en_US: ""
                    - configurable: "no"
                      container: PGID
                      description:
                        en_US: ""
                    - configurable: "no"
                      container: TZ
                      description:
                        en_US: ""
                    - configurable: "no"
                      container: DOCKER_MODS
                      description:
                        en_US: ""
                port_map: "5299"
                ports:
                    - configurable: "no"
                      container: "5299"
                      description:
                        en_US: ""
                      protocol: tcp
                shell: sh
                volumes:
                    - configurable: "no"
                      container: /downloads
                      description:
                        en_US: ""
                    - configurable: "no"
                      container: /books
                      description:
                        en_US: ""
                    - configurable: "no"
                      container: /config
                      description:
                        en_US: ""
            description:
                en_US: Lazylibrarian is a program to follow authors and grab metadata for all your digital reading needs. It uses a combination of Goodreads Librarything and optionally GoogleBooks as sources for author info and book info. This container is based on the DobyTang fork.
            developer: Lazylibrarian Team
            icon: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Lazylibrarian/icon.png
            screenshot_link:
                - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Lazylibrarian/screenshot-1.png
                - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Lazylibrarian/screenshot-2.png
                - https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Lazylibrarian/screenshot-3.png
            tagline:
                en_US: eBook Auto Downloader
            thumbnail: https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Lazylibrarian/thumbnail.png
            tips: {}
            title:
                en_US: Lazylibrarian
x-casaos:
    architectures:
        - amd64
        - arm
        - arm64
    main_app: lazylibrarian
    version: latest
